<h2>Editing <%= @budget.name %>...</h2>
<%= button_to 'Back', budget_path(@budget), method: :get, class: "back-btn" %>

<div>
	<%= form_for @budget, url: budget_path, local: true do |form| %>
		
		<% if @budget.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@budget.errors.count, "error") %> prohibited
	        this budget from being saved:
	      </h2>
	      <ul>
	        <% @budget.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <% if @budget.budget_categories.present? %>
		  <h4>Budget Categories:</h4>

	  	<% @budget.budget_categories.each do |budget_category| %>
			  <%= form.fields_for :budget_categories, budget_category do |categories_form| %>
				  <%= budget_category.name %>: <%= categories_form.text_field :amount %><br>
		    <% end %>
	    <% end %>
	  <% end %>

	  <p>
	    <%= form.label :name %><br>
	    <%= form.text_field :name %>
	  </p>
	 
	  <p>
	    <%= form.submit "Save" %>
	  </p>
	<% end %>
</div>
