<h2>Budgets New Page</h2>
<%= button_to 'Back', budgets_path, method: :get, class: "back-btn" %>

<%= form_with scope: :budget, url: budgets_path, local: true do |form| %>
	
	<% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@budget.errors.count, "error") %> prohibited
        this budget from being saved:
      </h2>
      <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>
